.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: var(--text-3xl);
      font-weight: 700;
      margin: 24px 0 6px;
    }

    p {
      font-size: var(--text-lg);
      color: var(--color-text-secondary);
    }
  }
}
