.playerBox {
  position: fixed;
  bottom: 0;
  background: var(--color-gray);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 28rem;
  transition: 0.3s;
  z-index: 50;
}

.progress {
  height: 0.3rem;
  background: #3e3e3e;

  .bar {
    height: 100%;
    background: #989898;
  }
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 94%;
  overflow: hidden;
}

.cover {
  width: 4.4rem;
  height: 4.4rem;
  background: #bbb;
  position: relative;
  overflow: auto;

  &::after {
    position: absolute;
    background: linear-gradient(
      90deg,
      #1a1a1a1a 0%,
      var(--color-gray) 100%
    );

    width: 101%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  width: 76%;
  box-sizing: border-box;
  padding: 1.0rem 1.0rem 1.0rem 0;
  overflow: hidden;
}

.title {
  font-size: var(--text-sm);
  font-weight: 600;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist {
  font-size: var(--text-xs);
  color: var(--color-text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title,
.artist {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 8s linear infinite;
}

.marquee span {
  padding-right: 40px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.controls {
  display: flex;
  gap: 0.8rem;
  box-sizing: border-box;
  padding: 1.0rem;
}