.survey {
  box-sizing: border-box;
  padding: 0 1.2rem 4.2rem;

  .wrap {
    overflow: hidden;
    min-height: 100vh;
  }

  .surveySection {
    margin-bottom: 1.4rem;

    h2 {
      font-size: var(--text-base);
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    p {
      font-size: var(--text-sm);
      font-weight: 400;
      color: var(--color-text-secondary);
    }
  }

  .options {
    margin-top: 1rem;

    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;

    .chip {
      background: var(--color-gray);
      font-size: var(--text-sm);
      font-weight: 500;
      box-sizing: border-box;
      padding: 0.8rem 1.2rem;
      border-radius: 1.5rem;
    }

    .selected {
      background: var(--color-primary);
      color: var(--color-text-black);
      font-weight: 600;
    }
  }
}

.buttonWrap {
  position: fixed;
  bottom: 1.2rem;
  background: var(--color-black);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 11.5%);
  max-width: 28rem;
}