.home {
  min-height: 100vh;
  background-image: url("/images/bg/home_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  box-sizing: border-box;
  padding: 2rem;

  .wrap {
    width: 100%;
  }

  .txtBox {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
      font-size: var(--text-2xl);
      font-weight: 600;
      margin-bottom: 2rem;
    }

    p {
      font-size: var(--text-lg);
      color: var(--color-text-secondary);
    }
  }
}
