.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-black);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 1.2rem 0.5rem;
  border-bottom: 1px solid #585858;
}

.item:last-of-type {
  border-bottom: 0;
}

.item:hover {

  .cover {
    position: relative;
    transition: all 0.3s;

    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: url("../../public/images/ArrowLayerImg.png");
      z-index: 2;
      transition: all 0.3s;
    }

    &::before {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #00000050;
      content: "";
      transition: all 0.3s;
    }
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 94%;
  overflow: hidden;
}

.cover {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  width: 78%;
}

.title {
  font-size: var(--text-sm);
  font-weight: 600;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist {
  font-size: var(--text-xs);
  color: var(--color-text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.play {
  cursor: pointer;
}